<div class="section">
  <div class="grid-wrapper">
    <div class="card shadow">
      <div class="card-wrapper">
        <div class="image">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
            alt=""
          />
        </div>
        <div class="info">
          <h3>Bulbasaur</h3>
          <p>grass</p>
          <p>poison</p>
        </div>
      </div>
      <button class="button">See Details</button>
    </div>
    <div class="card shadow">
      <div class="card-wrapper">
        <div class="image">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
            alt=""
          />
        </div>
        <div class="info">
          <h3>Bulbasaur</h3>
          <p>grass</p>
          <p>poison</p>
        </div>
      </div>
      <button class="button">See Details</button>
    </div>
    <div class="card shadow">
      <div class="card-wrapper">
        <div class="image">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
            alt=""
          />
        </div>
        <div class="info">
          <h3>Bulbasaur</h3>
          <p>grass</p>
          <p>poison</p>
        </div>
      </div>
      <button class="button">See Details</button>
    </div>
    <div class="card shadow">
      <div class="card-wrapper">
        <div class="image">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
            alt=""
          />
        </div>
        <div class="info">
          <h3>Bulbasaur</h3>
          <p>grass</p>
          <p>poison</p>
        </div>
      </div>
      <button class="button">See Details</button>
    </div>
    <div class="card shadow">
      <div class="card-wrapper">
        <div class="image">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
            alt=""
          />
        </div>
        <div class="info">
          <h3>Bulbasaur</h3>
          <p>grass</p>
          <p>poison</p>
        </div>
      </div>
      <button class="button">See Details</button>
    </div>
    <div class="card shadow">
      <div class="card-wrapper">
        <div class="image">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
            alt=""
          />
        </div>
        <div class="info">
          <h3>Bulbasaur</h3>
          <p>grass</p>
          <p>poison</p>
        </div>
      </div>
      <button class="button">See Details</button>
    </div>
    <div class="card shadow">
      <div class="card-wrapper">
        <div class="image">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
            alt=""
          />
        </div>
        <div class="info">
          <h3>Bulbasaur</h3>
          <p>grass</p>
          <p>poison</p>
        </div>
      </div>
      <button class="button">See Details</button>
    </div>
    <div class="card shadow">
      <div class="card-wrapper">
        <div class="image">
          <img
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
            alt=""
          />
        </div>
        <div class="info">
          <h3>Bulbasaur</h3>
          <p>grass</p>
          <p>poison</p>
        </div>
      </div>
      <button class="button">See Details</button>
    </div>
  </div>
  <div class="button-wrapper">
    <button class="button">Previous Page</button>
    <button class="button">Next Page</button>
  </div>
</div>
