<div class="section">
  <h2>All Pokemons</h2>
  <div class="grid-wrapper">
    <div class="card shadow" *ngFor="let pokemon of pokemonList">
      <div class="card-wrapper">
        <div class="image">
          <img [src]="pokemon.sprites.other.dream_world.front_default" alt="" />
        </div>
        <div class="info">
          <h3>{{ pokemon.name }}</h3>
          <div *ngFor="let types of pokemon.types">
            <p>{{ types.type.name }}</p>
          </div>
        </div>
      </div>
      <button class="button" (click)="viewPokemonDetails(pokemon)">
        See Details
      </button>
    </div>
  </div>
  <div class="button-wrapper" *ngIf="pokemonList.length > 1">
    <button
      class="button"
      [disabled]="currentPageNo == 0"
      (click)="loadPreviousPage()"
    >
      Previous Page
    </button>
    <button
      class="button"
      [disabled]="currentPageNo == 65"
      (click)="loadNextPage()"
    >
      Next Page
    </button>
  </div>
</div>
