@use "../../../styles";

.details-section {
  margin: 40px 0;
  padding: 40px;
  background-color: styles.$off-white;

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "left-div" "right-div";
    row-gap: 32px;
    column-gap: 32px;

    .left-div {
      grid-area: left-div;
      max-width: 500px;

      h2 {
        font-size: 28px;
        letter-spacing: 1px;
      }

      .type-info {
        display: flex;
        column-gap: 8px;
        margin: 12px 0 40px 0;

        p {
          width: fit-content;
          padding: 6px 24px;
          background-color: styles.$primary;
          color: styles.$white;
          font-size: 14px;
          letter-spacing: 2px;
          border-radius: 4px;
        }
      }

      img {
        display: block;
        width: 100%;
        max-width: 150px;
        height: auto;
      }
    }

    .right-div {
      grid-area: right-div;
      text-align: left;
      padding-top: 40px;

      h2 {
        font-size: 24px;
        letter-spacing: 1px;
        padding: 4px 16px;
        background-color: styles.$primary;
        color: styles.$white;
        border-radius: 4px;
      }

      p {
        font-size: 16px;
        margin-top: 20px;
      }

      strong {
        display: inline-block;
        width: 125px;
        padding: 6px 12px;
        margin-right: 30px;
        font-weight: 500;
        letter-spacing: 1px;
        background-color: styles.$gray;
        color: styles.$black;
        border-radius: 4px;
      }
    }
  }
}

.gallery-section {
  margin: 20px 0 60px 0;

  h2 {
    font-size: 28px;
    letter-spacing: 1px;
    margin-bottom: 40px;
  }

  .grid-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    row-gap: 24px;
    column-gap: 24px;
    margin: 30px 0 40px 0;

    .card {
      padding: 20px;
      background-color: styles.$off-white;

      img {
        display: block;
        width: 100%;
        max-width: 100px;
        height: auto;
        margin: 0 auto;
      }
    }
  }
}

/* Media Queries */
@media screen and (min-width: 768px) {
  .details-section .grid-wrapper {
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "left-div right-div";
  }

  .gallery-section .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 992px) {
  .gallery-section .grid-wrapper {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 1200px) {
  .gallery-section .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}

@media screen and (min-width: 1500px) {
  .gallery-section .grid-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
  }
}
