<div class="section">
  <div class="details-section shadow">
    <div class="grid-wrapper">
      <div class="left-div">
        <h2>Bulbasaur</h2>
        <div class="type-info">
          <p>grass</p>
          <p>poison</p>
        </div>
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
          alt=""
        />
      </div>
      <div class="right-div">
        <h2>Pokemon Details</h2>
        <p><strong>Experience</strong> 64</p>
        <p><strong>Height</strong> 7 decimeter</p>
        <p><strong>Weight</strong> 69 hectogram</p>
      </div>
    </div>
  </div>

  <div class="gallery-section">
    <h2>Photo Gallery</h2>
    <div class="grid-wrapper">
      <div class="card shadow">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
          alt=""
        />
      </div>
      <div class="card shadow">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
          alt=""
        />
      </div>
      <div class="card shadow">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
          alt=""
        />
      </div>
      <div class="card shadow">
        <img
          src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/1.svg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
